.admin_container {
    padding: 35px;
}

.form_block {
    display: flex;
}

.form_block div {
    margin-right: 20px;
}

.action_alert {
    display: none;
}

.user_cards .card {
    margin: 3px 0 3px 0;
    border-radius: 0;
}

.useradmin_invite {
    min-height: 180px;
}

.admin_actions {
    color: gray;
}

.admin_actions i {
    margin-left: 5px;
}

.badge {
    min-width: 70px;
    margin-right: 20px;
}

.collapsed:hover {
    cursor: pointer;
}

.badge_version {
    color: #fff;
    background-color: #6e00b8;
}

.user_details {
    width: 35%;
}

.user_roles, .user_versions {
    width: 55%;
}