.main_navbar .nav-item {
    margin-left: 20px;
}

.nav-item i{
    margin: 4px;
}

.nav-item a, #languages {
    color: lightgray;
}

.nav-item a:hover, #languages:hover {
    color: white;
    text-decoration: none;
}

.dropdown-item span {
    padding: 6px;
}

#navbar_bg {
    height: 65px;
    background-color:#243a51;
}

.navbar {
    height: 65px;
    max-width: 1366px;
    padding: 0 20px 0 20px;
    margin: auto;
}

.navbar a {
    font-weight: bold;
}

.dropdown-menu {
    left: -70px;
    background-color: #2b435e;
    padding: 0;
}

.dropdown-menu a {
    color: white;
}

.dropdown-item:hover {
    color: white;
    background-color: rgb(14, 117, 177);
    box-shadow: 0 0 7px rgb(14, 117, 177);
}

.highlighted {
    background-color: rgb(17, 150, 228);
    box-shadow: 0 0 7px rgb(25, 171, 255);
}

.side_navbar a:hover {
    text-decoration: none;
}

.navbar_right {
    display: flex;
    align-items: center;
}

.dropdown a {
    color: lightgray;
    text-decoration: none;
}