.release {
    padding: 20px 20px 20px 30px;
    color: white;
    background-color: #2b435e;
    transition: background-color 0.5s;
}

.release:hover{
    background-color: rgb(14, 117, 177);
    box-shadow: 0px 0px 7px rgb(14, 117, 177);
    cursor: pointer;
}

.release span {
    min-width: 100px;
}