<section class="useradmin_invite">
    <div class="alert action_alert" role="alert">
    </div>
    <h5>User account creation<br/>
        <small>Adding new users is invite-based. This form will send an e-mail with further instructions.</small>
    </h5>
    <form class="form_block userinvite_form">
        <div>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="true" /> 
        </div>
        <div>
            <label for="email" class="sr-only">E-mail adress</label>
            <input type="text" id="email" name="email" class="form-control" placeholder="E-mail address" required="true" />
        </div>
        <button class="btn btn-primary invite_send_button" type="submit">Send invitation</button>
    </form>
</section>
<body>
    <div id="react"></div>
</body>
