<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <footer th:fragment="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 centered">
                    <a href="http://www.moddb.com/mods/rise-of-the-reds" title="View Rise of the Reds on Mod DB"><img src="http://button.moddb.com/popularity/medium/mods/4333.png" alt="Rise of the Reds"/></a>
                </div>
                <div class="col-sm-4 centered">
                    <img src="/img/ROTR.png"/>
                </div>
                <div class="col-sm-4 centered">
                    <a href="http://generalsrotr.wikia.com/wiki/Rise_Of_The_Reds_Wiki"><img src="/img/rotr_icon_wikia.png"/></a>
                    <a href="http://forums.swr-productions.com/index.php?showforum=22"><img src="/img/rotr_icon_forum.png"/></a>
                </div>
                <p>2018 - Created by XAttus</p>
            </div>
        </div>
    </footer>
</html>
