<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragments/head :: head"></head>
    <link rel="stylesheet" href="/css/login.css"/>
    <script defer="defer" src="/js/useractivate.js"/>
    <body>
        <div class="login_container">
            <form class="form-signin activation_form" method="post">
                <img src="/img/fc.png" width="200" height="200"/>
                <h5>Set a password for your account below</h5>
                <div class="alert action_alert"></div>
                <div class="input_field">
                    <label for="password" class="sr-only">Password</label>
                    <span class="fa fa-lock" aria-hidden="true"/> 
                    <input type="password" id="password" name="username" class="form-control" placeholder="Password" required="true" /> 
                </div>
                <div class="input_field">
                    <label for="password_again" class="sr-only">Password again</label> 
                    <span class="fa fa-repeat" aria-hidden="true"/>    
                    <input type="password" id="password_again" name="password_again" class="form-control" placeholder="Password again" required="true" />
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>
        </div>
    </body>
 </html>
 