<h5>User account creation<br/>
    <small>Adding new users is invite-based. This form will send an e-mail with further instructions.</small>
</h5>
<form class="userinvite_form">
    <div class="input_field">
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="true" /> 
    </div>
    <div class="input_field">
        <label for="email" class="sr-only">E-mail adress</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="E-mail address" required="true" />
    </div>
    <button class="btn btn-success" type="submit">Send invitation</button>
</form>