{%include "head.html"%}

<body>
    {%include "navbar.html"%}
    <div class="container-fluid">
        <div class="row core_container text_box">
            <h2>About</h2>
            <br/>
            <p class="text-sm-left font-weight-bold">What is this website for?</p>
            <p class="text-sm-left text-justify">
                Fieldcommand is a development manager website with the focus of providing the newest versions and updates to our small but loyal ROTR community.
                With the help of the client it's possible to automatically recieve and switch between different versions without having to manually move files around.
                Players can also provide feedback in the form of game reports, enabling us to discover and react to cool or cheesy games and shape our next versions based
                on them.<br/>
                <br/> 
                Fieldcommand aims to provide fan made releases presently, whether or not official versions will be available remains to be decided.
            </p>
            <br/>
            <p class="text-sm-left font-weight-bold">What happened to the old Fieldcommand?</p>
            <p class="text-sm-left text-justify">
                It never got finished for various reasons. It was made in an ancient way and would not represent my current knowledge of web-development. I also got busy with all the projects that the school gave me
                and I started to live independently in Budapest so until now I had little time and energy for personal projects.
            </p>
            <br/>
            <p class="text-sm-left font-weight-bold">So why did you decide to work on it again?</p>
            <p class="text-sm-left text-justify">
                Even though I wasn't building the previous website any longer, I still wanted to do this project. I got to the point in my studies where I'm basically ready to start working
                but are still required to develop something and widen my knowledge in addition to going for interviews. So not only I have the interest and time, it's actually somewhat mandatory
                for me to work on this project. It's ambitious enough to keep me occupied even after I start the internship and I hope I'll find time for it alongside my job.
            </p>
        </div>
    </div>
</body>