{% extends "navbar.html" %}
    {% block body %}
        <body>
            <div class="container-fluid">
                <div class="row banner_container">
                    <div class="col-3">
                        <div class="banner_side">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="banner_center">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="banner_side">
                        </div>
                    </div>
                </div>
            </div>
        </body>
    {% endblock %}
