{% extends "navbar.html" %}
    {% block body %}
        <body>
            <div id="banner_bg">
                <div class="container-fluid">
                    <div class="row banner_container">
                        <div class="col-3">
                            <div class="banner_side">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="banner_center">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="banner_side">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row core_container">
                    <div id="news_feed" class="col-9">
                    </div>
                    <div id="sidebar" class="col-3">
                    </div>
                </div>
            </div>
        </body>
    {% endblock %}
