{%include "head.html"%}
<link rel="stylesheet" href="/static/css/sidebar.css">
<body>
    {%include "navbar.html"%}
    <div id="banner_bg">
        <div class="container-fluid">
            <div class="row banner_container">
                <div class="col-3">
                    <div class="banner_side client_bg">
                        <div class="banner_text">
                            <h4>Download Client</h4>
                            <p>Recieve the latest releases automatically</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div id="banner_center">
                        <div class="banner_text">
                            <h4>Fieldcommand</h4>
                            <p>Latest news can go here.</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="banner_side reports_bg">
                        <div class="banner_text">
                            <h4>Share your games</h4>
                            <p>Give and recieve feedback</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row core_container">
            <div class="col-9 text_box">
                <div class="newsfeed_post">
                    <h2 class=post_title>Title will go here</h2>
                    <p class="post_date">posted by XAttus on 23-3-2018</p>
                    <div class=post_content>
                        <p>this is a long text here about stuff. this is a long text here about stuff. this is a long text here about stuff. this is a long text here about stuff.
                                this is a long text here about stuff. this is a long text here about stuff. this is a long text here about stuff.
                        </p>
                    </div>
                </div>
                <div class="newsfeed_post">
                    <h2 class=post_title>Title will go here</h2>
                    <p class="post_date">posted by XAttus on 23-3-2018</p>
                    <div class=post_content>
                    <p>this is a long text here about stuff. this is a long text here about stuff. this is a long text here about stuff. this is a long text here about stuff.
                            this is a long text here about stuff. this is a long text here about stuff. this is a long text here about stuff.
                    </p>
                    </div>
                </div>
            </div>
            <div id="sidebar" class="col-3">
                <div class="timeline_item timeline_report">
                    <span class="fa fa-clipboard" aria-hidden="true"></span>
                    <div class="timeline_content">
                        <p>Battle report: [title]</p>
                        <p>24-3-2018 21:01</p>
                    </div>
                </div>
                <div class="timeline_item timeline_report">
                    <span class="fa fa-clipboard" aria-hidden="true"></span>
                        <div class="timeline_content">
                        <p>Battle report: [title]</p>
                        <p>21-3-2018 20:24</p>
                    </div>
                </div>
                <div class="timeline_item timeline_blog">
                    <span class="fa fa-book" aria-hidden="true"></span>
                    <div class="timeline_content">
                        <p>Blog post: [post title]</p>
                        <p>24-3-2018 18:36</p>
                    </div>
                </div>
                <div class="timeline_item timeline_release">
                    <span class="fa fa-download" aria-hidden="true"></span>
                    <div class="timeline_content">
                        <p>Release: [version]</p>
                        <p>23-3-2018 12:54</p>
                    </div>
                </div>
                <div class="timeline_item timeline_report">
                    <span class="fa fa-clipboard" aria-hidden="true"></span>
                    <div class="timeline_content">
                        <p>Battle report: [title]</p>
                        <p>21-3-2018 20:45</p>
                    </div>
                </div>
                <div class="timeline_item timeline_report">
                    <span class="fa fa-clipboard" aria-hidden="true"></span>
                    <div class="timeline_content">
                        <p>Battle report: [title]</p>
                        <p>21-3-2018 20:45</p>
                    </div>
                </div>
                <div class="timeline_item timeline_report">
                    <span class="fa fa-clipboard" aria-hidden="true"></span>
                    <div class="timeline_content">
                        <p>Battle report: [title]</p>
                        <p>21-3-2018 20:45</p>
                    </div>
                </div>
                <div class="timeline_item timeline_report">
                    <span class="fa fa-clipboard" aria-hidden="true"></span>
                    <div class="timeline_content">
                        <p>Battle report: [title]</p>
                        <p>21-3-2018 20:45</p>
                    </div>
                </div>
                <div class="timeline_item">
                    <span class="fa fa-arrow-right" aria-hidden="true"></span>
                    <p>Timeline history</p>
                </div>
            </div>
        </div>
    </div>
</body>
{% include "footer.html"%}
