<div id="navbar_bg">
  <nav class="navbar navbar-expand-sm navbar-dark">
    <a class="navbar-brand" href="/"><img src="/static/fc_icon.png" width="55" height="55" alt="logo"></a>
    
    <ul class="navbar-nav navbar_left">
      <li class="nav-item">
        <a class="nav-link" href="/about"><i class="fa fa-info"></i> About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-download"></i> Releases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-clipboard"></i> Game Reports</a>
      </li>
      <li class="nav-item"> <!-- TODO: make this appear only if user is admin -->
        <a class="nav-link" href="/admin"><i class="fa fa-cog"></i>Adminsitration</a>
      </li>
    </ul>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse"></div>
    <ul class="navbar-nav">
        <li class="nav-item">
            <button type="button" class="btn login_button" data-toggle="modal" data-target="#loginModal">
                <i class="fa fa-power-off"></i> Login
              </button>
            <!--<a class="nav-link" href="#"><i class="fa fa-power-off"></i> Login</a> -->
        </li>
    </ul>
  </nav>

  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="loginForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"/>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"/>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="loginButton"class="btn btn-primary">Log in</button>
        </div>
      </div>
    </div>
  </div>
</div>
